<!doctype html>

<title>Visual inspiration</title>

<meta charset="utf-8" />

<style>
</style>

<div id="canvas">{{# paths }}
  <img src="/image/{{{ . }}}" />{{/ paths }}
</div>

<script>
  const data = {{{ data }}};
</script>

<script type="module">
  const canvas = document.getElementById("canvas");

  fetch("/", {
    method: "POST",
    body: JSON.stringify([ "TEST", {
      path: "path/to/file",
      x: 0,
      y: 0,
    }])
  });
</script>
