body {
  font-size: 11px;
  font-family: monospace;
}

table {
  background-color: white;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: inherit;
  font-size: 1.1em;
  position: sticky;
  top: 0;
}

thead::after {
  display: block;
  content: "";
  background-color: black;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

th {
  padding: 0.5em;
}

td {
  padding: 1em 0.5em;
  vertical-align: top;
}

tr:nth-child(2n) {
  background-color: beige;
}

tbody > tr:nth-child(n-1) {
  border-top: 1px solid black;
}

textarea {
  box-sizing: border-box;
  min-width: 100%;
}

input {
  font-size: 11px;
}

a {
  align-items: center;
  aspect-ratio: 1;
  background-color: white;
  border: 1px solid #8f8f9d;
  border-radius: 2px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background: ghostwhite;
}
