<style>
  .resume-personal img {
    margin: 0.5rem 0;
  }

  img {
    max-width: 300px;
  }

  .main-sculpture {
    display: flex;
  }

  .main-sculpture > div:first-child {
    flex: 1;
  }

  .main-sculpture > div:last-child {
    flex: 0 0 25rem;
  }

  main ul {
    padding: revert;
  }
</style>

 <main class="main-sculpture main-resume">
   <div>
     <h2>Education</h2>
     <ul>
       <li>University of Washington; B.A.; English Literature and Sculpture; 1959-63</li>
       <li>Pennsylvania Academy of Fine Arts; Sculpture; 1963-64</li>
       <li>University of Pennsylvania; B. F.A.; Sculpture; Honors; 1963-65</li>
       <li>University of Pennsylvania; M.F.A.; Sculpture; Honors; 1965-66</li>
       <li>University of London; Post Graduate; History of Gothic Sculpture; Fulbright Scholar; 1967</li>
     </ul>

     <h2>Honors And Awards</h2>
     <ul>
       <li>Fulbright Scholarship; Sculpture; England; 1966-67</li>
       <li>Coordinating Council for Literary Magazines; NY, NY; Publishing Grant; 1975-77</li>
       <li>New York State Council on the Arts; Sculpture; CAPS Grant; 1978</li>
       <li>John Simon Guggenheim Fellowship; Sculpture; 1983-84</li>
       <li>Illinois Arts Council; Special Assistance Grant; Sculpture; 1989</li>
       <li>Mellon Foundation Grant; “Sculptural Portrait;” Temporary Exhibition I curated; Smart Museum; University of Chicago; 1994</li>
       <li>Quantrell Award for Excellence in Undergraduate Teaching; University of Chicago; 1995</li>
       <li>Getty Research Institute/Museum Scholar; Los Angeles; 2006-07</li>
     </ul>

     <h2>Magazine Founder</h2>
     <ul>
       <li>“TRACKS, A Journal of Artistsʼ Writings;” 1974-77</li>
     </ul>

     <h2>Teaching</h2>
     <ul>
       <li>Cooper Union; New York, NY; Adjunct Professor; History of Sculpture; 1985-86</li>
       <li>University of Chicago; Chicago, IL; Associate Professor; Sculpture; 1986-2006; Emeritus</li>
     </ul>

     <h2>Individual Exhibitions</h2>
     <ul>
       <li>Stable Gallery; New York, NY; 1966</li>
       <li>Stable Gallery; New York, NY; 1970</li>
       <li>Danenberg Contemporaries Gallery; New York, NY; 1972</li>
       <li>OK Harris Gallery; New York, NY; 1975</li>
       <li>OK Harris Gallery; New York, NY; 1977</li>
       <li>Everson Museum of Art; Syracuse, NY; 1977</li>
       <li>USDAN Gallery; Bennington, VT; 1979</li>
       <li>Robert Freidus Gallery; New York, NY; 1981</li>
       <li>Walter Bischoff Gallery; Chicago, IL; 1987</li>
       <li>Pennsylvana Academy of the Fine Arts; Philadelphia, PA; 1987</li>
       <li>Chicago Cultural Center; A Retrospective; Chicago, IL; 1989</li>
       <li>Oskar Friedl Gallery; Chicago, IL; 1990</li>
       <li>Oskar Freidl Gallery; Chicago, IL; 1992</li>
       <li>LʼIsola Gallery; Rome, Italy; 1994</li>
       <li>Oskar Friedl Gallery; Chicago, IL; 1995</li>
       <li>Fassbender Gallery; Chicago, IL; 2000</li>
       <li>Oskar Friedl Gallery; Chicago, IL; 2004</li>
       <li>Zhou B Art Center; Chicago, IL 2010</li>
     </ul>
   </div>

   <div class="resume-personal">
     <img alt="" src="/images/general/herbert.jpg" />
     <img style="width: 386px;" alt="" src="/images/new/studio_1.jpeg" />

     <h2>Place Of Birth</h2>
     <ul>
       <li>Seattle Washington, 1940</li>
     </ul>

     <h2>Contact</h2>
     <ul>
       <li>(219) 874-1002</li>
       <li>email@herbertgeorgesculpture.com</li>
       <li>
         P.O. Box 241<br />
         Beverly Shores, IN 46301
       </li>
    </ul>
   </div>
</main>
