<style>
  ul { list-style: none }
  p { margin: 0 }

  .grid { display: grid }
  .grid.row { grid-auto-flow: column }
  .grid.row.baseline { align-items: baseline }
  .grid.row.apart { justify-content: space-between }
  .grid.row.gap_2rem { column-gap: 2rem }

  .nowrap { white-space: nowrap }
  .underline { text-decoration: underline }
</style>

<nav id="site-nav" class="grid row baseline apart gap_2rem">
  <h1 class="nowrap"><a href="/">Herbert George</a></h1>

  <ul class="titular grid row gap_2rem">
    <li><a id="sculptures-link" href="/">Sculptures</a></li>
    <li><a id="writings-link" href="/writings.html">Writings</a></li>
    <li><a id="resume-link" href="/resume.html">Résumé</a></li>
  </ul>
</nav>

<script>
  const path = window.location.pathname;

  if (path.startsWith("/writings")) {
    document.getElementById("writings-link").classList.add("underline");
  } else if (path.startsWith("/resume")) {
    document.getElementById("resume-link").classList.add("underline");
  } else {
    document.getElementById("sculptures-link").classList.add("underline");
  }
</script>
